.shapes{
    width: 10vw;
    height: 10vh;
    background-color: burlywood;
    display: inline-block;
}
.triangle{
    background-image: url(triangle.png);
    width: 10vw;
    height: 10vh;
    display: inline-block;
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}
.square{
     background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    background-image: url(square.png);
    width: 10vw;
    height: 10vh;
}
.hexagon{
    display: inline-block;
    width: 10vw;
    height: 10vh;
    background-image: url(Regular_hexagon.svg);
     background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}